.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg);
  box-shadow: var(--box-shaddow);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 210px;
}


.portfolio__item-image img {
  object-fit: contain;
  transition: 0.8s ease-in;
;
}

.portfolio__item-image img:hover {
  transform: scale(1.2);
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn__techno {
  font-weight: 500;
  font-size: 1em;
  width: max-content;
  display: inline-block;
  background-color: transparent;
  box-shadow: var(--box-shaddow);
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn__techno:hover {
  background: transparent;
  color: var(--color-logo);
  border-color: transparent;
  box-shadow: var(--box-shaddow-variant);
}

.btn__load-more {
  font-weight: 500;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em auto;
  background-color: transparent;
  box-shadow: var(--box-shaddow);
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn__load-more:hover {
  background: var(--color-primary);
  color: var(--color-bg);
  border-color: transparent;
}

.portfolio__item .project__techno {
  margin: 1.2rem 0 2rem;
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.portfolio__item .project__techno li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 3rem;
}


/* ============== MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 600px) {
  .portfolio__container{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}