.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem 1.5rem 0 0;
  overflow: hidden;
  height: 210px;
}


.portfolio__item-image img {
  object-fit: contain;
  transition: 0.8s ease-in;

}

.portfolio__item-image img:hover {
  transform: scale(1.2);
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
  height: 6rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn__techno {
  font-weight: 500;
  font-size: 1em;
  width: max-content;
  display: inline-block;
  background-color: transparent;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn__techno:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn__load-more {
  font-weight: 500;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em auto;
  background-color: transparent;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn__load-more:hover {
  background: var(--color-primary);
  color: var(--color-bg);
  border-color: transparent;
}

.portfolio__item .project__techno {
  margin: 1.2rem 0 2rem;
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  font-size: 1.2rem;
  margin-right: 5px;
}

.react-icon {
  color: cyan;
}

.nest-icon {
  color: red;
}

.graphql-icon {
  color: blueviolet;
}

.wp-icon {
  color: light;
  background-color: black;
  border-radius: 50%;
}

.html-icon {
  color: rgb(179, 69, 29);
}

.css-icon {
  color:darkcyan;
}

.vue-icon {
  color:green;
}

.js-icon {
  color:yellow;
}

.redux-icon {
  color:blueviolet;
}


/* ============== MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 600px) {
  .portfolio__container{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}