footer {
  background: var(--color-primary);
  box-shadow: var(--color-primary) 2px 2px 20px;
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

footer a {
  color: var(--color-bg);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

/* ============== MODAL =============== */

.modal {
  display: block; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  position: absolute;
  max-width: 50vw;
  max-height: 75vh; /* taille de la modal */
  overflow-y: auto; /* ajout de la barre de scroll */
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--color-primary) 2px 2px 30px;
}

.close {
  position: fixed;
  top: 5%;
  right: 27%;
  font-size: 3em;
  color: var(--color-primary);
  cursor: pointer;
  z-index: 1;
}

.close:hover {
  color: var(--color-white);
  transition: 0.3s ease-in;
}

/* ============== MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__socials {
    margin-bottom: 2.6rem;
  }

  .modal-content {
    width: 95vw;
    font-size: 0.7em;
  }
}